body {
    padding:0;
    margin:0;
    font-family:sans-serif;
    /*background-image: linear-gradient(#F20CCC, #F2E30F, #f63);*/
}



/*CSS NAVBAR*/

.navbar {
    position:sticky;
    top:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #44803F;
}



li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

li p {
  display: block;
  color: white;
  text-align: center;
  padding: 0 1.5em 0 0.5em;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}



/*CSS FORM*/

.form {
    margin:3em;
    text-align:center;
}

textarea {
    
    width:80%;
    height:auto;
    /*background-image: linear-gradient(#8C5C51, #93A64E, #F23E16);*/
    
}

fieldset {
    border: 1px black solid;
    border-radius: 1em;
    /*margin:5em 20%;*/
    padding:3em 1em;
}

legend {
    margin-left:2em;
    padding:0.25em;
    border: 1px black solid;
    border-radius:1em;
    text-align:left;
    font-size:1.5em;
}

#name {
    width:80%;
    height:auto;
    margin:2em;
    padding:0.5em 0.25em;
    /*background-image: linear-gradient(90deg, #8C5C51, #93A64E, #F23E16);*/
}

.submit {
    margin-top:1em;
    padding:0.5em 2em;
    border-radius:1em;
    border: 1px solid #44803F;
    background-color:#44803F;
    color:white;
}

.submit:hover {
    background-color : white;
    color:black;
    cursor:pointer;
}

/*CSS FOOTER*/

.footer {
    background-color: #44803F;
    padding:2em;
    margin:0;
    color:white;
    text-align:center;
}

.footer img {
    width:15%;
    height:auto;
}