<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="./assets/css/style.css" type="text/css" />
    <script src="https://kit.fontawesome.com/a992aa71c9.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="accueil.html">Accueil</a></li>
                <li><a href="register.html">S'inscrire</a></li>
                <li><a href="missions.html">Missions</a></li>
                <li><a href="#">Administrateur</a></li>
            </ul>
        </nav>
    </header>
    
    <!--SE CONNECTER-->
    
    <div class="accueil">
        
        <a href="register.html" class="redirAcc">
        <article class="card log">
            
                <i class="fa-solid fa-right-to-bracket fa-2xl"></i>
                <p>Connectez-vous ou créez votre compte ici !</p>
                <button id="submit">Cliquez !</button>
            
        </article>
        </a>
        
        <a href="profil.html" class="redirAcc">
        <article class="card prof">
             
                <i class="fa-solid fa-user fa-2xl"></i>
                <p>Accédez à votre profil !</p>
                <button id="submit">Cliquez !</button>
            
        </article>
        </a>
        
    </div>
    
    <footer>
       <img src="../assets/img/logo.png" alt="logo" class="logo"></img>
    </footer>
    
</body>
</html>