<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2fa1ea1d7f.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <!--NAVBAR-->
    
    
    <nav class="navbar">
        <ul>
            <li><a href="accueil.html">Accueil</a></li>
            <li><a href="login.html">Se connecter</a></li>
            <li><a href="missions.html">Missions</a></li>
            <li><a href="admin.html">Administrateur</a></li>
            <li><a href="profil.html"><i class="fa-solid fa-user fa-2xl"></i></a></li>
        </ul>
    </nav>
    
    
    <!--INTERFACE ADMIN-->
    
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Users</th>
      <th scope="col">Missions</th>
      <th scope="col"><button class="modif"><i class="fa-solid fa-pen"></i></button><button class="suppr"><i class="fa-solid fa-xmark"></i></button></th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
    
</body>
</html>