<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion</title>
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2fa1ea1d7f.js" crossorigin="anonymous"></script>
</head>

<body>
   <!--Barre de navigation-->
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="register.html">S'inscrire</a></li>
                <li><a href="#">Mon profil</a></li>
                <li><a href="#">Missions</a></li>
                <li><a href="#">Administrateur</a></li>
            </ul>
        </nav>
    </header>
    
    <!--Formulaire-->
    <div id="container">
        <form  class="login" action="verification.php" method="POST">
            <h1>Se connecter</h1>
            <div class="inputs">
                <input type="text" name="pseudo" placeholder="Pseudo" required />
                <input type="email" name="email" placeholder="Email" required/>
                <div class="mdp">
                    <input type="password" name="password" placeholder="Mot de passe" required/>
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
    <!--Boutons de connexion et de souscription-->    
            <div class="submit_choice">
                <div class="connect">
                    <a href="#">Mot de passe oublié ?</a>
                    <input type="submit" id="submit" value="Je me connecte">
                </div>
            
                <div class="subscribe">
                    <p class="inscription">Je n'ai pas de compte.</p>
                    <button id="submit"><a href="register.html">Je crée un compte</a></button>
                </div>
            </div>
        </form>
    </div>
    
    <!--FOOTER-->
    <footer>
        <img src="../assets/img/logo-3wa.png" alt="logo 3W Academy"></img>
    </footer>
    
</body>
</html>