<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion</title>
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2fa1ea1d7f.js" crossorigin="anonymous"></script>
</head>

<body>
    
    
    <nav class="navbar">
        <ul>
            <li><a href="accueil.html">Accueil</a></li>
            <li><a href="login.html">Se connecter</a></li>
            <li><a href="missions.html">Missions</a></li>
            <li><a href="admin.html">Administrateur</a></li>
            <li class="icon"><a href="profil.html"><i class="fa-solid fa-user fa-2xl"></i></a></li>
        </ul>
    </nav>


    
    <!--Formulaire-->
    <div id="container">
        <form  class="login" action="verification.php" method="POST">
            <h1>Se connecter</h1>
            <div class="inputs">
                <input type="text" name="pseudo" placeholder="Pseudo" required />
                <input type="email" name="email" placeholder="Email" required/>
                <div class="mdp">
                    <input type="password" name="password" placeholder="Mot de passe" id="password" required/>
                    <i class="fa-solid fa-eye-slash" id="eye"></i>
                </div>
            </div>

    <!--Boutons de connexion et de souscription-->    
            <div class="submit_choice">
                <div class="connect">
                    <a href="#">Mot de passe oublié ?</a>
                    <input type="submit" id="submit" value="Je me connecte">
                </div>
            
                <div class="subscribe">
                    <p class="inscription">Je n'ai pas de compte.</p>
                    <button id="submit"><a href="register.html">Je crée un compte</a></button>
                </div>
            </div>
        </form>
    </div>
    
    <footer>
       <img src="../assets/img/logo.png" alt="logo" class="logo"></img>
    </footer>
    
    <script type="text/javascript" src="../js/psswrdToggle.js"></script>

</body>
</html>