<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Missions</title>
    <link rel="stylesheet" href="../assets/css/styleMission.css" type="text/css" />
</head>
<body>
    
    <!--NAVBAR-->
    
    <nav class="navbar">
    <div class="" id="">
      <ul class="">
        <li>
          <p class="">Super site</p>
        </li>
        <li class="btn">
          <a class="" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="btn">
          <a class="" href="#">Missions</a>
        </li>
        <li class="btn">
          <a class="" href="#">Profil</a>
        </li>
      </ul>
    </div>
</nav>
    
    <!--CREATION DE MISSION-->
    
    <form method='POST' class="form">
        <h1>Création de mission</h1>
            <div>
            <input type="text" name="name" placeholder="Nom de la mission..." id="name" required/>
            </div>
            <textarea id="mission" name="mission" rows="20" cols="30" placeholder="Descriptif de mission..." required></textarea>
            <div>
                <input type="submit" value="Créer !" class="submit"/>
            </div>
    </form>
    
<footer class="footer">
    <!--<img src="../assets/img/credits.jpg"></img>-->
    <div>
        <p>Ce magnifique, merveilleux et fabuleux site a été réalisé par Maximilien MBAYE, Mehdi SAMSAR, Fayza AFFOQUE et Gwendal NOGUES.</p>
    </div>
</footer>

</body>
</html>