<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Missions</title>
    <link rel="stylesheet" href="../../Projet-main/assets/css/style.css" type="text/css" />
</head>
<body>
    
    <!--NAVBAR-->
    
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="../../Projet-main/view/accueil.html">Accueil</a></li>
                <li><a href="../../Projet-main/view/register.html">S'inscrire</a></li>
                <li><a href="missions.html">Missions</a></li>
                <li><a href="#">Administrateur</a></li>
            </ul>
        </nav>
    </header>
    
    <!--CREATION DE MISSION-->
    
    <form method='POST' class="form">
        <h1>Création de mission</h1>
            <div>
            <input type="text" name="name" placeholder="Nom de la mission..." id="name" required/>
            </div>
            <textarea id="mission" name="mission" rows="20" cols="30" placeholder="Descriptif de mission..." required></textarea>
            <div>
                <input type="submit" value="Créer !" id="submit"/>
            </div>
        
    </form>
    
    <!--FOOTER-->
    
    <footer>
       <img src="../../Projet-main/assets/img/logo.png" alt="logo" class="logo"></img>
    </footer>

</body>
</html>