<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page profil</title>
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2fa1ea1d7f.js" crossorigin="anonymous"></script>
</head>

<body>
    
   <!--Barre de navigation-->
   
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="register.html">S'inscrire</a></li>
                <li><a href="profil.html">Mon profil</a></li>
                <li><a href="missions.html">Missions</a></li>
                <li><a href="#">Administrateur</a></li>
            </ul>
        </nav>
    </header>
    
    <!--Profil-->
    
    <div id="container">
        <div class="profile-box">
            <i class="fa-solid fa-user"></i>
            <h3>Nom de l'utilisateur</h3>
            <p>Type de profil</p>
            <div class="profile-choice">
                <button type="button" class="zoom"><a href="login.html">Connexion</a></button>
                <button type="button" class="zoom"><a href="missions.html">Missions</a></button>
            </div>
        </div>
    </div>
    
    <!--FOOTER-->
    
    <footer>
        <img src="../assets/img/logo.png" alt="logo"></img>
    </footer>
    
</body>
</html>