<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page d'enregistrement</title>
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
</head>

<body>
    
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="login.html">Se connecter</a></li>
                <li><a href="#">Mon profil</a></li>
                <li><a href="#">Missions</a></li>
                <li><a href="#">Administrateur</a></li>
            </ul>
        </nav>
    </header>
    
    <div id="container">
        <form  class="login" action="verification.php" method="POST">
            <h1>Créer un compte</h1>
            <div class="inputs">
                <label for="">Entrez un pseudo</label>
                <input type="text" name="pseudo" placeholder="Pseudo" required/>
                
                <label for="">Entrez votre adresse email</label>
                <input type="email" name="email" placeholder="Email" required/>
                
                <label for="">Entrez un mot de passe</label>
                <input type="password" name="password" placeholder="Mot de passe" required/>
                
                <label for="">Confirmez le mot de passe</label>
                <input type="password" name="password" placeholder="Confirmez le mot de passe" required/>
            </div>
        
            <div>
                <input type="submit" class="register" id="submit" name="inscription" value="Je m'inscris">
            </div>
        </form>
    </div>
    
    <footer>
        <img src="../assets/img/logo-3wa.png" alt="logo 3W Academy" />
    </footer>
    
</body>
</html>